* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow-y: hidden;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chatPage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chatWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  width: 80%;
  background-color: rgb(236, 236, 236);
  border: 1px solid black;
}

.chatMessages {
  text-align: start;
  padding: 0.5rem 0.5rem;
  overflow-y: auto;
}

.chatInput {
  width: 100%;
  padding: 0.4rem;
  border: 2px solid black;
}

.chatInput:focus {
  outline: none;
}